{% extends "layouts/module_admin.html" %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="Users">{{ _('Users')}}</a></li>
{% endblock %}
{% block module %}
    <a href="?op=add" class="btn btn-success btn-sm" role="button"><i class="fas fa-plus me-2"></i>{{ _('Add user')}}</a>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">{{ _('Username')}}</th>
            <th scope="col">{{ _('Role')}}</th>
            <th scope="col">{{ _('Home page')}}</th>
            <th scope="col">{{ _('Last login')}}</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>
              <img id="avatar" src="{{user.image}}" alt="avatar" class="rounded-circle img-fluid" style="width: 30px;height: 30px;" onerror="this.src='/Users/static/Users.png'">
              {{user.name}}
            </td>
            <td>{{user.role}}</td>
            <td>{{user.home_page}}</td>
            <td>{{user.lastLogin}}</td>
            <td>
              <a href="?user={{user.name}}&op=edit" class="btn btn-success btn-sm" role="button"><i class="fas fa-pencil me-2"></i>{{ _('Edit')}}</a>
              <a href="?user={{user.name}}&op=setPassword" class="btn btn-primary btn-sm" role="button"><i class="fas fa-key me-2"></i>{{ _('Set password')}}</a>
              <a href="?user={{user.name}}&op=delete" onClick="return confirm('Delete record?')" class="btn btn-danger btn-sm" role="button"><i class="fas fa-trash me-2"></i>{{ _('Delete')}}</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
{% endblock %}