{% extends "layouts/module_admin.html" %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="Users">Users</a></li>
<li class="breadcrumb-item">{{form.username.data}}</li>
{% endblock %}
{% block module %}
{% if form.errors %}
    <ul>
    {% for field, errors in form.errors.items() %}
        {% for error in errors %}
            <li>{{field}}: {{ error }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
{% endif %}

<form id="form" method="POST">
    <!-- Поля формы -->
    {{ form.hidden_tag() }}
    <div class="mb-3">
        <div class="mb-3">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.image.label(class="form-label") }}
            {{ form.image(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.role.label(class="form-label") }}
            {{ form.role(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.home_page.label(class="form-label") }}
            {{ form.home_page(class="form-control") }}
        </div>
    </div>
    <!-- Кнопка отправки формы -->
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="Users" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}